<!DOCTYPE html>
{% extends 'mainApp/base_pure.html' %}
{% load staticfiles %}

{% block body_block %}

<div class="container">
    <button type="button" class="btn btn-outline-info btn-block" onclick="window.history.back()"
            style="margin-top: 1rem; margin-bottom: 1rem;">
        Back
    </button>
    <h3>
        Trading with <strong>{{item.user.username}}</strong> for <strong>{{item.title}}</strong>
    </h3>

    {% if user.is_authenticated %}
    <form style="margin-top: 1rem;">
        {% csrf_token %}
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="offer_type" id="radio_pay_cash" value="CS" checked>
                Pay the price with cash!
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="offer_type" id="radio_exchange" value="EX">
                Use one of your items to exchange:
            </label>
        </div>
        <select class="form-control">
            <option selected>Select Your Item</option>
            {% for user_item in all_item_list %}
            <option value={{user_item.id}}>{{user_item.title}}</option>
            {% endfor %}
        </select>
    </form>
    {% else %}
    <p> Please login to make an offer!</p>
    {% endif %}
</div>

{% endblock %}