<!DOCTYPE html>
{% extends 'mainApp/base_pure.html' %}
{% load staticfiles %}

{% block body_block%}
<div class="container" align="center">
    <div align="left">
        {% if registered %}
            <h1>Thank You for registering!</h1>
        {% else %}
            <h1>Register Form:</h1>

            <form class="pure-form pure-form-stacked" enctype="multipart/form-data" method="post" style="margin-bottom: 3rem;">
                {% csrf_token %}
                {{ user_form.as_p }}
                {{ profile_form.as_p }}
                <!--<input type="submit" name="" value="Register">-->
                <button type="submit" class="pure-button pure-button-primary">Register</button>
            </form>
        {% endif %}
    </div>
</div>

{% endblock %}


