<!DOCTYPE html>
{% extends 'mainApp/base.html' %}
{% load staticfiles %}

{% block body_block %}

    <!-- Our Work Section -->
    <div id="work" class="page">
        <div class="container">

            <!-- Portfolio Projects -->
            <div align="left">
                {% if added %}
                    <h1>Item added successfully!</h1>
                {% else %}
                    <h1>New Item Form: </h1>

                    <form class="pure-form pure-form-stacked" enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        {{ item_form.as_p }}
                        <button type="submit" class="pure-button pure-button-primary" style="margin: 0.5rem;">Submit</button>
                        <!--<input type="submit" name="" value="Submit">-->
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- End Our Work Section -->

{% endblock %}