<!DOCTYPE html>
{% extends 'mainApp/base.html' %}
{% load staticfiles %}

{% block body_block %}

    <!-- Our Work Section -->
    <div id="work" class="page">
        <div class="container">
            <!-- Title Page -->
            <div class="title-page">
                <h2 class="title">Manage My Items</h2>
            </div>
            <!-- End Title Page -->

            <!-- Portfolio Projects -->
            <div class="cat-list">
                <!-- Filter -->
                <nav id="filter-nav" class="work-nav">
                    <ul>
                        <li class="filter-head">Category</li>
                        <li><a href="#filter" data-option-value="*" class="selected">All Items</a></li>
                        <li><a href="#filter" data-option-value=".electronics">Electronics</a></li>
                        <li><a href="#filter" data-option-value=".fashion_acc">Fashion & Accessories</a></li>
                        <li><a href="#filter" data-option-value=".home_app">Home & Appliances</a></li>
                        <li><a href="#filter" data-option-value=".health_beauty">Health & Beauty</a></li>
                        <li><a href="#filter" data-option-value=".baby_toy">Baby & Toys</a></li>
                        <li><a href="#filter" data-option-value=".sports_outdoors">Sports & Outdoors</a></li>
                        <li><a href="#filter" data-option-value=".groceries">Groceries, Pets and Motors</a></li>
                        <li><a href="#filter" data-option-value=".others">Others</a></li>
                    </ul>
                </nav>
                <!-- End Filter -->
            </div>

            <div class="masonry-container">
                {% for user_item in all_item_list %}
                    <div class="masonry-item">
                        <img class="masonry-img-thumb" src="{{ user_item.item_pic }}" alt="{{ user_item.item_pic }}">
                        <p>{{ user_item.title }}</p>
                        <p><img src="{% static 'img/price_icon.png' %}" alt="Price Icon"> :
                            S$ {{ user_item.estimate_price }}</p>
                        {% if user_item.wechat %}
                            <p><img src="{% static 'img/wechat_icon.jpg' %}" alt="Wechat Icon"> : {{ user_item.wechat }}
                            </p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- End Our Work Section -->

{% endblock %}